body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 220px;
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

button {
    margin-top: 5px;
}
